{% extends "games/padre.html" %} 

{% load static %} 

{% block gameplay %} 


<img src="{% static 'Games/images/banner2.jpg' %}" alt="Second slide">
                  <div class="container">
                     <div class="carousel-caption relative">
                        <h1>Nuevo gameplay de RE4 </h1>
                        <p>No te pierdas el nuevo gameplay del remake del survival horror más famoso y la entrevista al director de diseño de personajes </p>
                        <a  href="Javascript:void(0)">Leer más</a>
                     </div>
                  </div>
                              
{% endblock %}    